stages:
  - check
  - build
  - test # not actually used, needed for test template
  - test-gnat-llvm
  - test-ccg

.optional_testing_template:: &opt-test
  - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    when: manual
    allow_failure: true # This improves reporting. Otherwise the CI remains "stuck" untils those jobs are launched

include:
  # Issue check
  - component: $CI_SERVER_FQDN/eng/gitlab-templates/check-issue@~latest

  # Build
  - component: $CI_SERVER_FQDN/eng/gitlab-templates/build@~latest
    inputs:
      anod-args: run build
      generic-anod-ci-args: --add-dep eng/toolchain/gnat
      cpus: 16
      save-component: true
      windows: true
      windows-cpus: 8
      windows-mem: 16

  - component: $CI_SERVER_FQDN/eng/gitlab-templates/build@~latest
    inputs:
      job-name: build-x86
      anod-args: run build_x86
      generic-anod-ci-args: --add-dep eng/toolchain/gnat
      cpus: 16
      save-component: true
      windows: true
      windows-cpus: 8
      windows-mem: 16
      rules: *opt-test

  - component: $CI_SERVER_FQDN/eng/gitlab-templates/build@~latest
    inputs:
      job-name: build-ccg
      component-name: ccg
      anod-args: run build_ccg
      generic-anod-ci-args: --add-dep eng/toolchain/gnat
      cpus: 16
      save-component: true

  # Testing of gnat-llvm
  - component: $CI_SERVER_FQDN/eng/gitlab-templates/test@~latest
    inputs:
      job-name: fixedbugs
      stage: test-gnat-llvm
      anod-args: run test_fixedbugs
      generic-anod-ci-args: --add-dep eng/toolchain/gnatbugs-fixed
      windows: true
      windows-cpus: 8
      windows-mem: 16
  - component: $CI_SERVER_FQDN/eng/gitlab-templates/test@~latest
    inputs:
      job-name: acats
      stage: test-gnat-llvm
      anod-args: run test_acats
      generic-anod-ci-args: --add-dep eng/toolchain/acats
      windows: true
      windows-cpus: 8
      windows-mem: 16
  - component: $CI_SERVER_FQDN/eng/gitlab-templates/test@~latest
    inputs:
      job-name: fixedbugs-x86
      stage: test-gnat-llvm
      anod-args: run test_fixedbugs_x86
      generic-anod-ci-args: --add-dep eng/toolchain/gnatbugs-fixed
      needs:
        - build-x86:linux
      rules: *opt-test
  - component: $CI_SERVER_FQDN/eng/gitlab-templates/test@~latest
    inputs:
      job-name: acats-x86
      stage: test-gnat-llvm
      anod-args: run test_acats_x86
      generic-anod-ci-args: --add-dep eng/toolchain/acats
      needs:
        - build-x86:linux
      rules: *opt-test

  # Testing of ccg
  - component: $CI_SERVER_FQDN/eng/gitlab-templates/test@~latest
    inputs:
      job-name: ccg
      component-name: ccg
      # Declaring an explicit dependency on the "build-ccg" job is required to
      # make generic_anod_ci import the right set of Cathod components.
      needs:
        - build-ccg:linux
      stage: test-ccg
      anod-args: run test_ccg
      generic-anod-ci-args: --add-dep eng/toolchain/ccg-tests
  - component: $CI_SERVER_FQDN/eng/gitlab-templates/test@~latest
    inputs:
      job-name: acats-ccg
      component-name: ccg
      # Declaring an explicit dependency on the "build-ccg" job is required to
      # make generic_anod_ci import the right set of Cathod components.
      needs:
        - build-ccg:linux
      stage: test-ccg
      anod-args: run test_acats_ccg
      generic-anod-ci-args: --add-dep eng/toolchain/acats
  - component: $CI_SERVER_FQDN/eng/gitlab-templates/test@~latest
    inputs:
      job-name: acats-ccg-optimized
      component-name: ccg
      # Declaring an explicit dependency on the "build-ccg" job is required to
      # make generic_anod_ci import the right set of Cathod components.
      needs:
        - build-ccg:linux
      stage: test-ccg
      anod-args: run test_acats_ccg_optimized
      generic-anod-ci-args: --add-dep eng/toolchain/acats

# Additional customization

.fixedbugs:common:
  # It happens regularly that tests are added which fail for GNAT-LLVM; not
  # failing the pipeline improves the user experience in such cases because it
  # lets us merge without scary warning messages (while still showing failed
  # tests for assessment).
  allow_failure: true

.build:common:
  variables:
    # Let's not bother with the docs; they're unaffected by this repository's
    # code.
    ANOD_ENABLE_DOC: false

build:windows:
  rules:
    # The Windows build shouldn't trigger automatically because it takes a long
    # time, and most changes aren't specific to Windows. Also mark it as
    # non-critical because otherwise the pipeline gets stuck if the job isn't
    # started.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      allow_failure: true
      when: manual

acats:windows:
  timeout: 4h

fixedbugs:windows:
  timeout: 4h

ccg:linux:
  timeout: 3h
