# External projects
gnat_src

# Build/test results directories
*-backend/bin
*-backend/lib
llvm-ada/gen
llvm-ada/out
llvm-ada/llvm-5.0.0.src
llvm-ada/llvm-obj

testsuite/old
testsuite/out
testsuite/srccov
alis.list
obj

# Code editors artifacts
.#*
gnatinspect.db

# Compilation artifacts
*.o
*.ali
*.bc
*.s
*.ll
*.so
a.out
b~*.adb
b~*.ads

# Python testsuite artifacts
*.pyc
__pycache__

# Script generally used to define some environment variable to ease using
# programs/libraries from the project.
env

# Vim
*.swp
*.swo
